<a href="/redirect?url={$site.url}" target="_blank" class="site-item">
    <div class="site-icon-wrap">
        <img src="{if $site.icon_url}{$site.icon_url}{else}/static/default-favicon.svg{/if}" alt="" onerror="this.src='/static/default-favicon.svg'">
    </div>
    <div class="site-info">
        <div class="site-title">{$site.title}</div>
        {if $site.description}<div class="site-desc">{$site.description}</div>{/if}
    </div>
    <span class="site-goto"><i class="fas fa-external-link-alt"></i></span>
</a>